<!--Header image-->
<div style="text-align: center" *ngIf="!isLoggedIn">
  <img style="width: 150px" src="./../../assets/images/logo.png" alt="logo" />
</div>
<!--Nav bar-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" *ngIf="isLoggedIn">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
    <img
      src="./../../assets/images/logo_transparent.png"
      alt="logo"
      style="width: 50px"
    />
    <b><span i18n>AI Resume optimizer</span></b>
  </a>

  <!-- Toggler/collapsibe Button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!--Left end-->
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" i18n>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" i18n>About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" i18n>Contact us</a>
      </li>
    </ul> -->
    <!--Right end-->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbardrop"
          data-toggle="dropdown"
        >
          <img
            src="{{ profilePicture }}"
            alt="profile picture"
            style="max-width: 40px; border-radius: 50%"
          />
          {{ userData?.firstName }} {{ userData?.lastName }}
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/profile">Profile</a>
          <a class="dropdown-item" href="#" (click)="onLogout()" i18n>
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
