<div *ngIf="!isTokenValid">
  <div class="alert alert-danger" style="text-align: center;" i18n>
    <strong>Error!</strong> Invalid token
  </div>
  <div
  class="input-group"
  style="display: block; margin: 0px auto; text-align: center"
>
  <a style="text-decoration: none" href="login" i18n>Go to login</a><br />
</div>
</div>
<div *ngIf="isTokenValid">
  <div style="text-align: center; padding: 10px 0px" *ngIf="showLoader">
    <div class="spinner-border text-primary" role="status"></div>
  </div>
  <div *ngIf="submitSuccessful && !showLoader">
    <div class="alert alert-success" i18n>
      <strong>Success!</strong> Password changed.
    </div>
    <div>
      <p style="text-align: center;">
        Redirecting in {{timeCount}} seconds.
      </p>
    </div>
  </div>
  <div *ngIf="!submitSuccessful && !showLoader">
    <form
      class="needs-validation"
      [formGroup]="resetForgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="input-group" style="text-align: center;">
      <h6 style="text-align: center; display: block; margin: auto;">{{email}}</h6>
      </div>
      <div class="input-group">
        <span class="input-group-text" i18n>Password</span>
        <input
          type="password"
          class="form-control"
          placeholder="Create password"
          formControlName="password"
          [ngClass]="
            resetForgotPasswordForm.controls.password.valid
              ? 'is-valid'
              : resetForgotPasswordForm.controls.password.touched
              ? 'is-invalid'
              : ''
          "
          required
          i18n
          i18n-placeholder
        />
      </div>
      <div
        class="feedback"
        *ngIf="
          !resetForgotPasswordForm.controls.password.valid &&
          resetForgotPasswordForm.controls.password.touched &&
          resetForgotPasswordForm.controls.password.value == ''
        "
        i18n
      >
        Password required.
      </div>
      <div
        class="feedback"
        *ngIf="
          !resetForgotPasswordForm.controls.password.valid &&
          resetForgotPasswordForm.controls.password.touched &&
          resetForgotPasswordForm.controls.password.value != ''
        "
        i18n
      >
        Password should be minimum 6 characters long.
      </div>
      <div class="input-group">
        <span class="input-group-text" i18n>Confirm Password</span>
        <input
          type="password"
          class="form-control"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          [ngClass]="
            resetForgotPasswordForm.controls.confirmPassword.valid
              ? resetForgotPasswordForm.controls.password.value ==
                resetForgotPasswordForm.controls.confirmPassword.value
                ? 'is-valid'
                : 'is-invalid'
              : resetForgotPasswordForm.controls.confirmPassword.touched
              ? 'is-invalid'
              : ''
          "
          required
          i18n
          i18n-placeholder
        />
      </div>
      <div
        class="feedback"
        *ngIf="
          !resetForgotPasswordForm.controls.confirmPassword.valid &&
          resetForgotPasswordForm.controls.confirmPassword.touched &&
          resetForgotPasswordForm.controls.confirmPassword.value == ''
        "
        i18n
      >
        Confirm Password required.
      </div>
      <div
        class="feedback"
        *ngIf="
          resetForgotPasswordForm.controls.confirmPassword.touched &&
          resetForgotPasswordForm.controls.confirmPassword.value != '' &&
          resetForgotPasswordForm.controls.confirmPassword.value !=
            resetForgotPasswordForm.controls.password.value
        "
        i18n
      >
        Passwords doesn't match.
      </div>
      <!--Error div-->
      <br />
      <div class="alert alert-danger" role="alert" *ngIf="showError">
        <b>Error: </b>{{ errorMessage }}
      </div>
      <div
        class="input-group"
        style="display: block; margin: 10px auto; text-align: center"
      >
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="
            resetForgotPasswordForm.valid
              ? resetForgotPasswordForm.controls.password.value ==
                resetForgotPasswordForm.controls.confirmPassword.value
                ? false
                : true
              : true
          "
          i18n
        >
          Submit
        </button>
      </div>

      <div
        class="input-group"
        style="display: block; margin: 0px auto; text-align: center"
      >
        <a style="text-decoration: none" href="login" i18n>Go to login</a><br />
      </div>
    </form>
  </div>
</div>
