<div class="input-group">
  <span class="input-group-text" i18n>Email</span>
  <input
    type="email"
    class="form-control"
    placeholder="Enter your registered email"
    i18n
    i18n-placeholder
  />
  <div
    class="input-group"
    style="display: block; margin: 10px auto; text-align: center"
  >
    <button type="button" class="btn btn-success" i18n>Submit</button>
  </div>

  <div
    class="input-group"
    style="display: block; margin: 0px auto; text-align: center"
  >
    <a style="text-decoration: none" href="login" i18n>Login</a> |
    <a style="text-decoration: none" href="signup" i18n>Signup</a>
  </div>
</div>
