<div *ngIf="user && !user.verified && isLoggedIn" class="row">
  <div class="col-lg-6 col-md-6 col-sm-10" style="display: block; margin: auto">
    <div
      class="alert alert-warning"
      role="alert"
      style="display: block; margin: 10px auto; text-align: center"
      i18n
    >
      You are logged in but, Email ({{ user.email }}) is not verified. We have sent you the verification link when you registered on your email. Kindly verify your account to get access to the app.
    </div>
  </div>
</div>
<div
  *ngIf="!isLoggedIn || (isLoggedIn && user && user.verified)"
  [ngClass]="{ row: isLoggedIn }"
  style="margin: 0px; padding: 0px"
>
  <app-side-nav
    class="col-lg-2 col-md-12"
    style="margin: 0px; padding: 0px"
    *ngIf="isLoggedIn"
  ></app-side-nav>
  <div [ngClass]="{ 'col-lg-10 col-md-12': isLoggedIn }">
    <router-outlet></router-outlet>
  </div>
</div>
