<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <span class="input-group-text" i18n>Email</span>
    <input type="email" formControlName="email" class="form-control" placeholder="Enter your email" i18n i18n-placeholder />
  </div>
  <div class="input-group">
    <span class="input-group-text" i18n>Password</span>
    <input type="password" formControlName="password" class="form-control" placeholder="Enter your password" i18n i18n-placeholder />
  </div>
  <div
    class="input-group"
    style="display: block; margin: 10px auto; text-align: center"
  >
    <button type="submit" class="btn btn-success" i18n>Submit</button>
  </div>
  
  <div
    class="input-group"
    style="display: block; margin: 0px auto; text-align: center"
  >
  <a style="text-decoration: none;" href="signup" i18n>Not registered yet?</a><br/>
  <a style="text-decoration: none;" href="forgot-password" i18n>Forgot password?</a>
  </div>
</form>
<h3 *ngIf="isLoggedIn">You are logged in {{userData?.firstName}}.</h3>
