#sidenav {
    border: 0.1px solid green;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



a {
    color: black;
    text-decoration: none;
    display: block;
    /* border: 1px solid grey; */
    padding: 15px;

}

a:hover {
    cursor: pointer;
    background-color: grey;
    color: white;
}

.active {
    background-color: #2f8fb3;
    color: white;
}

.active a {
    color: white;
}

ul {
    display: flex;
}

@media screen and (min-width: 961px) {
    #sidenav {
        height: 95vh;
    }

    ul {
        display: block;
    }
}