<h3 style="text-align: center" i18n>Email verification</h3>
<div class="row" style="padding: 10px; margin: 10px">
  <div
    class="alert alert-danger col-lg-6 col-md-6 col-sm-10"
    role="alert"
    style="display: block; text-align: center; margin: auto"
    *ngIf="invalidToken"
    i18n
  >
    Invalid verification token
  </div>
  <div
    class="alert alert-success col-lg-6 col-md-6 col-sm-10"
    role="alert"
    style="display: block; text-align: center; margin: auto"
    *ngIf="isVerified"
    i18n
  >
    Email ({{ email }}) successfully verified
  </div>
  <div
    class="alert alert-warning col-lg-6 col-md-6 col-sm-10"
    role="alert"
    style="display: block; text-align: center; margin: auto"
    *ngIf="couldntVerify"
    i18n
  >
    Couldn't verify email
  </div>
</div>
