<div class="row">
  <div class="col-sm-8 col-md-4 col-lg-4" style="margin: 0px auto">
    <img
      id="profile-picture"
      src="{{ userData.profilePicture }}"
      alt="profile picture"
    />
  </div>

  <div
    class="col-sm-8 col-md-8 col-lg-8"
    style="text-align: center; margin: 0px auto; padding: 15px"
  >
    <h2 i18n>User profile</h2>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th i18n>Full name:</th>
          <td>{{ userData.firstName }} {{ userData.lastName }}</td>
        </tr>
        <tr>
          <th i18n>Email:</th>
          <td>{{ userData.email }}</td>
        </tr>
        <tr>
          <th i18n>Gender:</th>
          <td>
            {{ userData.gender }}
          </td>
        </tr>
        <tr>
          <th i18n>Date of birth:</th>
          <td>
            {{ userData.dateOfBirth }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
