<form>
    <div class="input-group">
      <span class="input-group-text" i18n>First name</span>
      <input type="email" class="form-control" placeholder="First name" i18n i18n-placeholder />
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Last name</span>
      <input type="email" class="form-control" placeholder="Last name" i18n i18n-placeholder />
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Email</span>
      <input type="email" class="form-control" placeholder="Enter your email" i18n i18n-placeholder />
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Password</span>
      <input type="password" class="form-control" placeholder="Create password" i18n i18n-placeholder />
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Confirm Password</span>
      <input type="password" class="form-control" placeholder="Confirm password" i18n i18n-placeholder />
    </div>
    <div
      class="input-group"
      style="display: block; margin: 10px auto; text-align: center"
    >
      <button type="button" class="btn btn-success" i18n>Submit</button>
    </div>
    
    <div
      class="input-group"
      style="display: block; margin: 0px auto; text-align: center"
    >
    <a style="text-decoration: none;" href="login" i18n>Registered already?</a><br/>
    </div>
  </form>
  