<div style="text-align: center; padding: 10px 0px" *ngIf="showLoader">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="signupSuccessful && !showLoader">
  <div class="alert alert-success" i18n>
    <strong>Success!</strong> Signup successfull.
  </div>
</div>
<div *ngIf="!signupSuccessful && !showLoader">
  <form
    class="needs-validation"
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="input-group">
      <span class="input-group-text" i18n>First name</span>
      <input
        formControlName="firstName"
        type="text"
        class="form-control"
        name="signupForm.firstName"
        [ngClass]="
          signupForm.controls.firstName.valid
            ? 'is-valid'
            : signupForm.controls.firstName.touched
            ? 'is-invalid'
            : ''
        "
        placeholder="First name"
        required
        i18n
        i18n-placeholder
      />
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.firstName.valid &&
        signupForm.controls.firstName.touched
      "
      i18n
    >
      First name required.
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Last name</span>
      <input
        type="text"
        formControlName="lastName"
        [ngClass]="
          signupForm.controls.lastName.valid
            ? 'is-valid'
            : signupForm.controls.lastName.touched
            ? 'is-invalid'
            : ''
        "
        class="form-control"
        placeholder="Last name"
        required
        i18n
        i18n-placeholder
      />
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.lastName.valid &&
        signupForm.controls.lastName.touched
      "
      i18n
    >
      Last name required.
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Gender</span>
      <select
        class="form-select"
        id="sel1"
        name="gender"
        [ngClass]="
          signupForm.controls.gender.valid
            ? 'is-valid'
            : signupForm.controls.gender.touched
            ? 'is-invalid'
            : ''
        "
        formControlName="gender"
      >
        <option value="" disabled selected i18n>
          Select from the dropdown
        </option>
        <option value="male" i18n>Male</option>
        <option value="female" i18n>Female</option>
        <option value="other" i18n>Other</option>
      </select>
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.gender.valid && signupForm.controls.gender.touched
      "
      i18n
    >
      Gender required.
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Date of birth</span>
      <input formControlName="dateOfBirth" [ngClass]="
      signupForm.controls.dateOfBirth.valid
        ? 'is-valid'
        : signupForm.controls.dateOfBirth.touched
        ? 'is-invalid'
        : ''
    " class="form-control" type="date" />
    </div>
    <div
    class="feedback"
    *ngIf="
      !signupForm.controls.dateOfBirth.valid && signupForm.controls.dateOfBirth.touched
    "
    i18n
  >
    Date of birth required.
  </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Email</span>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        (ngModelChange)="checkEmailExists($event)"
        [ngClass]="
          signupForm.controls.email.valid
            ? emailExists
              ? 'is-invalid'
              : 'is-valid'
            : signupForm.controls.email.touched
            ? 'is-invalid'
            : ''
        "
        placeholder="Enter your email"
        required
        i18n
        i18n-placeholder
      />
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.email.valid &&
        signupForm.controls.email.touched &&
        signupForm.controls.email.value == ''
      "
      i18n
    >
      Email required.
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.email.valid &&
        signupForm.controls.email.touched &&
        signupForm.controls.email.value != ''
      "
      i18n
    >
      Email invalid.
    </div>
    <div class="feedback" *ngIf="emailExists" i18n>Email exists.</div>
    <div class="input-group">
      <span class="input-group-text" i18n>Password</span>
      <input
        type="password"
        class="form-control"
        placeholder="Create password"
        formControlName="password"
        [ngClass]="
          signupForm.controls.password.valid
            ? 'is-valid'
            : signupForm.controls.password.touched
            ? 'is-invalid'
            : ''
        "
        required
        i18n
        i18n-placeholder
      />
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.password.valid &&
        signupForm.controls.password.touched &&
        signupForm.controls.password.value == ''
      "
      i18n
    >
      Password required.
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.password.valid &&
        signupForm.controls.password.touched &&
        signupForm.controls.password.value != ''
      "
      i18n
    >
      Password should be minimum 6 characters long.
    </div>
    <div class="input-group">
      <span class="input-group-text" i18n>Confirm Password</span>
      <input
        type="password"
        class="form-control"
        placeholder="Confirm password"
        formControlName="confirmPassword"
        [ngClass]="
          signupForm.controls.confirmPassword.valid
            ? signupForm.controls.password.value ==
              signupForm.controls.confirmPassword.value
              ? 'is-valid'
              : 'is-invalid'
            : signupForm.controls.confirmPassword.touched
            ? 'is-invalid'
            : ''
        "
        required
        i18n
        i18n-placeholder
      />
    </div>
    <div
      class="feedback"
      *ngIf="
        !signupForm.controls.confirmPassword.valid &&
        signupForm.controls.confirmPassword.touched &&
        signupForm.controls.confirmPassword.value == ''
      "
      i18n
    >
      Confirm Password required.
    </div>
    <div
      class="feedback"
      *ngIf="
        signupForm.controls.confirmPassword.touched &&
        signupForm.controls.confirmPassword.value != '' &&
        signupForm.controls.confirmPassword.value !=
          signupForm.controls.password.value
      "
      i18n
    >
      Passwords doesn't match.
    </div>
    <!--Error div-->
    <br />
    <div class="alert alert-danger" role="alert" *ngIf="showError">
      <b>Error: </b>{{ errorMessage }}
    </div>
    <div
      class="input-group"
      style="display: block; margin: 10px auto; text-align: center"
    >
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="
          signupForm.valid
            ? signupForm.controls.password.value ==
              signupForm.controls.confirmPassword.value
              ? emailExists
                ? true
                : false
              : true
            : true
        "
        i18n
      >
        Submit
      </button>
    </div>

    <div
      class="input-group"
      style="display: block; margin: 0px auto; text-align: center"
    >
      <a style="text-decoration: none" href="login" i18n>Registered already?</a
      ><br />
    </div>
  </form>
</div>
